global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    timeout check   5000ms

# ==============================================================================
# PUERTO 80: INGRESS PÚBLICO HTTP Y BALANCEO L7
# ==============================================================================
frontend http_front
    bind *:80
    
    # Panel de Estadísticas Web
    stats enable
    stats uri /haproxy?stats
    stats refresh 5s

    default_backend app_servers

# ==============================================================================
# BACKEND: BALANCEO HACIA VM 2 Y VM 3 (Subred 10.0.2.0/24)
# ==============================================================================
backend app_servers
    mode http
    balance roundrobin
    option httpchk GET /api/health
    http-check expect status 200

    # Servidores de Aplicación Nativos Nginx + React + Flask
    server app_principal 10.0.2.11:80 check inter 3000ms rise 2 fall 3
    server app_replica   10.0.2.12:80 check inter 3000ms rise 2 fall 3
