global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    retries 3
    timeout queue 1m
    timeout connect 10s
    timeout client 30m
    timeout server 30m
    timeout check 5s

# ==============================================================================
# PUERTO 5000: ESCRITURA Y LECTURA (Detecta al MASTER automáticamente via Patroni)
# ==============================================================================
frontend postgres_write_front
    bind *:5000
    mode tcp
    default_backend postgres_write_back

backend postgres_write_back
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node5 10.0.3.11:5432 maxconn 100 check port 8008
    server node6 10.0.3.12:5432 maxconn 100 check port 8008

# ==============================================================================
# PUERTO 5001: SOLO LECTURA (Detecta a la RÉPLICA via Patroni)
# ==============================================================================
frontend postgres_read_front
    bind *:5001
    mode tcp
    default_backend postgres_read_back

backend postgres_read_back
    mode tcp
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server node5 10.0.3.11:5432 maxconn 100 check port 8008
    server node6 10.0.3.12:5432 maxconn 100 check port 8008

# ==============================================================================
# PANEL DE ESTADÍSTICAS LOCAL (PUERTO 7000)
# ==============================================================================
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
