global
    log stdout format raw local0 info
    maxconn 2048

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Resolver interno DNS para Docker y GCP
resolvers docker_resolver
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

# Puerto 5000: Trafico de Escritura y Lectura Transaccional (Apunta al PostgreSQL Primario)
frontend db_write_front
    bind *:5000
    default_backend db_primary_backend

backend db_primary_backend
    mode tcp
    balance roundrobin
    option pgsql-check user postgres
    server db_primary vm5_db_primaria:5432 check resolvers docker_resolver init-addr libc,none inter 3000ms rise 2 fall 3

# Puerto 5001: Trafico de Solo Lectura (Apunta a la Replica PostgreSQL con fallback al Primario)
frontend db_read_front
    bind *:5001
    default_backend db_replica_backend

backend db_replica_backend
    mode tcp
    balance roundrobin
    option pgsql-check user postgres
    server db_replica vm6_db_replica:5432 check resolvers docker_resolver init-addr libc,none inter 3000ms rise 2 fall 3
    server db_primary vm5_db_primaria:5432 check resolvers docker_resolver init-addr libc,none backup
